# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/
venv/

# Logs
*.log
logs/

# Secrets
.env
*.pem
*.key

# Local config
*.db
*.sqlite
.cache/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Снимок экрана 2025-09-26 в 10.37.20.png --- IGNORE ---
Снимок экрана 2025-09-26 в 12.32.17.png
